@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #e2e2e2;
    color: rgb(173, 14, 14);
}

.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header ul li {
    margin-right: 10px;
    padding: 5px 10px;
}

.header ul li:last-child {
    margin-right: 0;
}

.header a {
    text-decoration: none;
    color: #2b2b2b;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px;
}

.login-button {
    background-color: white; 
    color: black; 
    border: 2px solid #a8a02f;
}

.register-button {
    background-color: white; 
    color: black; 
    border: 2px solid #ba0000;
}

h2 {
    color: black;
    text-align: left;
}

main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #e7e7e7;
}

.header .button {
    margin-left: 10px;
}

.header .button-container {
    display: flex;
    align-items: right;
}

.right-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.right-menu li {
    margin-left: 20px;
}

.login-button:hover {
    background-color: #c2a74d;
    color: white;
}

.register-button:hover {
    background-color: #ba0000;
    color: white;
}